@{
    Layout = "_LayoutLogout";
    ViewData["Title"] = "Restrict Page";
}

<p>You don't have permission to acess this funcionality,<a asp-controller="Home" asp-action="Index">Click here to back the home</a></p>