a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.close-alert {
    position: absolute;
    right: 10px; /* Alinhar à direita dentro do contêiner */
    top: 15px; /* Alinhar ao topo dentro do contêiner */
    border-radius: 5px;
    color: white;
    width: 30px;
    height: 32px;
    font-weight: bold;
    font-size: 18px;
}

    .close-alert:hover {
        color: red;
        Background-color: none;
    }

    .close-alert p {
        top: 10px;
    }

.bg-custom {
    background-color: #001A56 important;
}

.bg-custom {
    background-color: #001A56 !important;
}

.btn-custom {
    background-color: #001A56 !important;
    color: white;
    transition: transform 1s ease
}

    .btn-custom:hover {
        transform: scale(1.1);
        color: white;
    }




#home {
    background: #001A56;
    color: white;
    padding-top: 90px
}

.custom-page-bg {
    background-color: white; /* Escolha a cor que deseja */
    overflow: hidden;
}

.caixa{
    padding-top: 100px;
}


